[submodule "Debug"]
	path = Debug
	url = ../storage-windows-x64-Debug
[submodule "Release"]
	path = Release
	url = ../storage-windows-x64-Release
[submodule "StaticDebug"]
	path = StaticDebug
	url = ../storage-windows-x64-StaticDebug
[submodule "StaticRelease"]
	path = StaticRelease
	url = ../storage-windows-x64-StaticRelease
